* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
}

.tooltip {
  display: none;
  background: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
}

.tooltip.visible {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  text-transform: capitalize;
  /* color: #1ca4d9; */
}

.thin,
.bold {
  font-size: 2rem;
  text-transform: uppercase;
}

h1 .bold {
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.viz {
  width: 100%;
  height: auto;
}

.sub-heading {
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.dashboard {
  margin-left: 1rem;
  margin-right: 1rem;
}

.wrapper {
  margin: 0 auto;
}

.main {
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.grid {
  display: grid;
  gap: 14px;
}

.map-container,
.pie-chart-container,
.bar-chart-container,
.scatterplot-chart-container,
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  /* margin-bottom: 1rem; */
  padding: 1rem;
  border-radius: 0.75rem;
  --tw-shadow: 0px 0px 0px 1px rgba(9, 9, 11, 0.07),
    0px 2px 2px 0px rgba(9, 9, 11, 0.05);
  --tw-shadow-colored: 0px 0px 0px 1px var(--tw-shadow-color),
    0px 2px 2px 0px var(--tw-shadow-color);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    var(--tw-shadow);
  background: white;
}

.stat-card {
  align-items: center;
  justify-content: center;
  height: 335px;
}

.card .stat {
  font-size: 3rem;
  font-weight: 600;
  color: #1ca4d9;
}

.labels text {
  display: none;
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(15, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {

  .wrapper {
    max-width: 100rem; /* 80rem */
  }

  .container {
    overflow: visible;
  }

  .card {
    grid-column: span 5 / span 5;
  }

  .card-participants-container {
    grid-column: span 5 / span 5;
  }

  .donut-chart-container {
    grid-column: span 8 / span 8;
  }

  .donut-chart-gender {
    grid-column: span 10 / span 10;
  }

  .map-container {
    grid-column: span 7 / span 7;
  }

  .pie-chart-container {
    grid-column: span 8 / span 8;
  }

  .bar-chart-container {
    grid-column: span 15 / span 15;
  }

  .scatterplot-chart-container {
    grid-column: span 15 / span 15;
  }

  .scatterplot-chart-waist-cirumference-vs-bmi {
    grid-column: span 15 / span 15;
  }
}

@media (min-width: 768px) {
  .labels text {
    display: block;
  }
}
